In [1]:
%load_ext autoreload
%autoreload 1

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
import dask.dataframe as dd
import os

In [3]:
clickstreams_purchase_csv = os.path.join('Datathon Materials 2', 'clickstreams_with_purchase.csv.gz')
#Assuming the notebook file will be in the same folder where Datathon Materials 2 is present

In [4]:
clickstream_pur_dtype = {'customer_id': 'int64', 'product_id': 'int64', 'ordered': 'float32', 'date': 'str', 'time':'str', 'page_viewed': 'str'}

In [5]:
click_pur_df = dd.read_csv(clickstreams_purchase_csv, compression='gzip', blocksize=None, dtype=clickstream_pur_dtype)

In [6]:
click_pur_df.info(memory_usage='deep')

<class 'dask.dataframe.core.DataFrame'>
Columns: 6 entries, customer_id to ordered
dtypes: object(3), float32(1), int64(2)
memory usage: 464.0 MB

In [7]:
click_pur_df.head()

,customer_id,date,time,page_viewed,product_id,ordered
0,1436364061643577713,2018-07-16,14:37:44,HOMEPAGE,0,0.0
1,1436364061643577713,2018-07-16,14:40:44,PRODUCTSIMPLESKU,205401096165894320,0.0
2,1436364061643577713,2018-07-16,14:42:39,PRODUCTSIMPLESKU,9220344733964903803,0.0
3,1436364061643577713,2018-07-16,14:42:53,PRODUCTSIMPLESKU,9220344733964903803,0.0
4,1436364061643577713,2018-07-16,14:44:46,KEYWORDSEARCH,0,0.0

In [ ]:
click_pur_chunk_df = pd.read_csv(clickstreams_purchase_csv, compression='gzip', chunksize=1000, dtype=clickstream_pur_dtype)
click_pur_df = pd.concat(click_pur_chunk_df, ignore_index=True)